{
  "presets": [
    "flow", ["env",
      {
        "targets": {
          "node": "current"
        },
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    "transform-export-extensions"
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "useInlineSourceMaps": false
        }]
      ]
    }
  },
}