{
  "all":            true,
  "lines":          100,
  "branches":       100,
  "functions":      100,
  "statements":     100,
  "cache":          true,
  "check-coverage": true,
  "exclude": [
    "lib",
    "coverage",
    "test"
  ],
  "reporter": [
    "text",
    "html"
  ],
  "require": [
    "babel-register"
  ],
  "sourceMap": false,
  "instrument": false
}

